hr {
    margin: 0; /* pra tirar a margem que já vem com a linha */
}

.rodape {
    background-color: var(--branco-rodape);
    padding: 1.5em;
}

.lista-rodape {
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodape {
        display: flex;
        justify-content: space-around; /* o espaço em torno de cada elemento filho vai ser o mesmo/
        os elementos vai ter entre si o mesmo espaçamento e entre as bodas da pagina também*/

    }

    .rodape__titulo {
        font-size: 24px;
    }

    .lista-rodape {
        display: block;
    }

    .lista-rodape__item {
        display: flex;
        align-items: center;
        margin: 0.6em 0.0em;
    }

    .lista-rodape__link {
        text-decoration: none;
        color: var(--cinza);
        margin-left: 0.6em;
    }

    .lista-rodape__titulo {
        font-size: 14px;
        color: var(--cinza-claro);
        margin-bottom: 2em;
    }

    .lista-rodape__link:hover {
        text-decoration: underline;
    }
}

@media screen and (min-width: 1728px) {

    .rodape {
        padding: 4em 0em;
    }

    .lista-rodape {
        border-left: 1px solid var(--cinza-claro); /* a bordar vai ficar somente do lado esquerdo */
        padding-left: 1em;
    }

}